@import 'Footer.scss';
@import 'Section.scss';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header{

    padding-bottom: 30px;

    &-Nav{
        display: flex;
        justify-content: center;

    }

    &-List{
        display: grid;
        grid-template-columns: repeat(3, 60fr);
        gap: 300px;
        margin-top: 40px;

    }

    &-Item{
        list-style: none;
    }

    &-Link{
        text-decoration: none;
        
    }
 
}